.root {
    -fx-background-color: white;
    -fx-font-size: 12pt;
}

.highlight-red {
    -fx-border-color: #ff0000;
    -fx-border-width: 2px;
}

.button:focused {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
}