.root {
    -fx-background-color: #191919;
    -fx-font-size: 12pt;
}

.text-field {
    -fx-background-color: #e0e0e0;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.highlight-red {
    -fx-border-color: #ff0000;
    -fx-border-width: 2px;
}

.selected {
    -fx-background-color: #e0e0e0;
    -fx-border-color: #05f505;
    -fx-border-width: 5px;
}

.label {
    -fx-text-fill: #f0f0f0;
}

.button {
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.button:focused {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
}

.tab-header-background {
    -fx-background-color: #292929
}

.tab-pane {
  -fx-tab-min-width:120px;
  -fx-tab-max-width:120px;
  -fx-tab-min-height:50px;
  -fx-tab-max-height:50px;
}

.tab-label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.tab {
    -fx-pref-width: 450;
    -fx-font-size: 18pt;
    -fx-background-color: royalblue;
}

.tab:selected {
    -fx-background-color: blue;
}

.date-picker-popup > .month-year-pane {
    -fx-base: #1d1d1d ;
    -fx-mark-highlight-color: -fx-light-text-color ;
}